In [4]:
import pandas as pd
import os
os.getcwd()

'e:\\OneDrive - Universitas Diponegoro\\@Project Data\\@BINAR ACADEMY\\Challenge\\Gold'

In [3]:
x = pd.read_csv('data.csv', encoding="ISO-8859-1")
print(x)

                                                   Tweet  HS  Abusive  \
0      - disaat semua cowok berusaha melacak perhatia...   1        1
1      RT USER: USER siapa yang telat ngasih tau elu?...   0        1
2      41. Kadang aku berfikir, kenapa aku tetap perc...   0        0
3      USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...   0        0
4      USER USER Kaum cebong kapir udah keliatan dong...   1        1
...                                                  ...  ..      ...
13164  USER jangan asal ngomong ndasmu. congor lu yg ...   1        1
13165                       USER Kasur mana enak kunyuk'   0        1
13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...   0        0
13167  USER USER USER USER Bom yang real mudah terdet...   0        0
13168  USER Mana situ ngasih(": itu cuma foto ya kuti...   1        1

       HS_Individual  HS_Group  HS_Religion  HS_Race  HS_Physical  HS_Gender  \
0                  1         0            0        0            0          0
1                  0         0            0        0            0          0
2                  0         0            0        0            0          0
3                  0         0            0        0            0          0
4                  0         1            1        0            0          0
...              ...       ...          ...      ...          ...        ...
13164              1         0            0        0            1          0
13165              0         0            0        0            0          0
13166              0         0            0        0            0          0
13167              0         0            0        0            0          0
13168              1         0            0        0            0          0

       HS_Other  HS_Weak  HS_Moderate  HS_Strong
0             1        1            0          0
1             0        0            0          0
2             0        0            0          0
3             0        0            0          0
4             0        0            1          0
...         ...      ...          ...        ...
13164         0        1            0          0
13165         0        0            0          0
13166         0        0            0          0
13167         0        0            0          0
13168         1        1            0          0

[13169 rows x 13 columns]

In [7]:
def fungsi(x="Harya"):
    print("Peringkat nomer 1 adalah "+x)

fungsi("Budi")

Peringkat nomer 1 adalah Budi

In [14]:
def genap(x):
    return x % 2 == 0

print(genap(10))

True

In [33]:
def cek():
    a = input("Masukan Kalimat Anda :" )
    if "python" in a.lower():
        return True
    else:
        return False

print(cek())

True

In [34]:
def penjumlahan(*args):
    a = sum(args)
    return a

print(penjumlahan(1,3,1,1,1,3,1,3,3))

17

In [4]:
def fungsiku(*args, **kwargs):
    print("Saya ingin membeli {} {} secara tunai".format(args[0],kwargs["makanan"]))

fungsiku(23,24,buah="apel",makanan="nasi goreng")

Saya ingin membeli 23 nasi goreng secara tunai

In [8]:
a = 1000
def jumlah():
    a = 79
    return a
jumlah()
print(jumlah())
print(a)

79
1000

In [9]:
kalimat = "Saya adalah GLOBAL"
def cetak():
    kalimat = "Saya adalah LOCAL"
    def eksekusi():
        print("Halo hasilnya adalah "+kalimat)
    eksekusi()

cetak()

Halo hasilnya adalah Saya adalah LOCAL

In [48]:
angka = 99
def tulis():
    global angka
    print(f'Angka = {angka}')
    print("Angka = {}".format(angka))
    angka = "Berak"
    print("Angkanya sekarang berubah menjadi = {}".format(angka))

tulis()
print(angka)

Angka = 99
Angka = 99
Angkanya sekarang berubah menjadi = Berak
Berak

In [63]:
def kali10(num):
    return num*10

kali10(2)
angka = [3,4,5]
angka.append(int(input("masukkan angkanya")))
for item in map(kali10,angka):
    print(item)

list(map(kali10,angka))

30
40
50
60

[30, 40, 50, 60]

In [67]:
def jumlahkata(kata):
    if len(kata)%2 == 0:
        return "Genap"
    else:
        return "Ganjil"

jumlahkata("abc4dasar")
katakata = ["abc", "berak", "putus", "dasoidjaoskdm"]
a = list(map(jumlahkata,katakata))

print(a)

['Ganjil', 'Ganjil', 'Ganjil', 'Ganjil']

In [83]:
def cekgenap(num):
    return num % 2 == 0

print(cekgenap(7))

nomor = [13,13,3,1,4,5,6,6,6]

print(list(filter(cekgenap,nomor)))

False
[4, 6, 6, 6]

In [85]:
abc = lambda x: x*10
abc(3)

30

In [86]:
print(type([].))

<class 'NoneType'>